body{
    margin: 0;
    padding: 0;
   
}
    .nosotrosContainer{
        .nosotrosTexto{
        .nosotros{
            color: black;
            font-family: 'Merriweather', serif;
            font-size: $medida2;
            &:hover{
                color:#334e58;
            }
        }
    }
}

